# folders
bin/
obj/
mod/
## lib/2decomp_fft/
## example/
input/
obsolete/
tmp/
.history/
test_*/
*.dat
*.log
*.png

# Prerequisites
*.d
*.inc

# Compiled Object files
*.o
*.mod
*.slo
*.lo
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.code-workspace
